.root {
    -fx-background-color: #222;
    -fx-background-radius: 28;
}

.mainPanel {
    -fx-background-color: #5E1813;
    -fx-background-radius: 15 15 25 25;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
}